<div class="row">
<% if user_signed_in? %>
  <h1>Tweet一覧</h1>
  <div id="sidebar" class="col-sm-4">
    <div class="tweet-form">
      <%= form_with model: @tweet do |f| %>
        <%= f.text_area :content, placeholder: "ここからTweetしてみましょう！", class:'form-controll tweet-form', maxlength: '140' %>
        <%= f.submit '投稿する', class:'btn btn-block btn-default'%>
      <% end %>
    </div>
    <%= render 'search' %>
  </div>
  <div id="preview">
    <%= render 'preview' %>
  </div>
  <div id="tweets" class="col-sm-8">
    <%= render 'tweets', tweets: @tweets %>
  </div>
  <% else %>
    <% content_for :cover do %>
      <div class="text-center toppage">
        <p>今からちょうど一ヶ月前、自分がどこで何をして何を考えていたか、思い出すことができますか？</p>
        <p>Twitterでタイムライン遡れば思い出せる？</p>
        <p>めんどくさくない？</p>
        <p>どうせならそのツイートをすぐに引っ張り出せるようにしませんか？</p>
        <p>つまりは日記のようにいつでも読み返せるようにしてみませんか？</p>
        <p>多くの場合、一つ一つのツイートは大した情報を持たないただの短文です。</p>
        <p>しかし、それらがまとまればあなたに関する多くの情報を持つ文章になります。</p>
        <p>つまりは日記です。</p>
        <p>このサイトでは、日々のツイートを利用してあなたの日記を生成します。</p>
        <ul>
          <li>Twitterアカウントでログイン</li>
          <li>投稿する</li>
          <li>投稿がこのサイトに保存され、同時にTwitterにもツイートされる</li>
          <li>以上</li>
          <li>完全に個人で完結するサービスです。自分の日記を誰かに見られることはありません(日記を他人に読まれることほど気色悪いことはないですし)。</li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>

<a href="#" class="back-to-top">▲</a>

<script>
  // プレビュー表示
  $(document).ready(function() {
    $("textarea").keyup(function() {
      $(".preview-display > div").fadeIn(600);
      $("#main").html( $(this).val() );
    });
  });

  // プレビュー非表示
  $(document).ready(function() {
    $(".preview-hide").click(function() {
      $(".preview-display > div").hide();
    });
  });

  // トップに戻る
  function updateButton() {
    if ($(this).scrollTop() >= 200) {
      $(".back-to-top").fadeIn();
    } else {
      $(".back-to-top").fadeOut();
    }
  }

  $(document).ready(function() {
    updateButton();
    $(window).scroll(updateButton);
    $(".back-to-top").click(function() {
      $("html, body").animate( {
        scrollTop: 0
      }, 500 );
      return false
    });
  });
</script>
