<div class="row">
<% if user_signed_in? %>
  <div id="sidebar" class="col-sm-4">
    <div class="tweet-form">
      <%= form_with model: @tweet do |f| %>
        <%= f.text_area :content, placeholder: "ここからTweetしてみましょう！", class:'form-controll tweet-form', maxlength: '140' %>
        <div class="image-form">
          <%= f.label :image, '写真を添付する', for:'tweet_image' %>
          <small>※5MB以内</small>
          <%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png', style:'display: none' %>
        </div>
        <%= f.submit '投稿する', class:'btn btn-block btn-default'%>
      <% end %>
    </div>
    <%= render 'search' %>
  </div>

  <div id="preview">
    <%= render 'preview' %>
  </div>

  <div id="tweets" class="col-xs-8 pull-right">
    <%= render 'tweets', tweets: @tweets %>
  </div>
  <% else %>
    <% content_for :cover do %>
      <div class="cover">
        <div class="cover-inner">
          <h3 class="text-center">〜日記は続かないけど日々のTweetは欠かさないツイッタラーに捧ぐ〜</h3>
          <div class="login-link">
            <%= link_to 'Twitterアカウントでログイン', user_twitter_omniauth_authorize_path, class:'btn-default btn-lg' %>
          </div>
        </div>
      </div>
      <div class="text-center toppage">
        <p>今からちょうど一ヶ月前、自分がどこで何をして何を考えていたか、思い出すことができますか？</p>
        <p>Twitterでタイムライン遡れば思い出せる？</p>
        <p>めんどくさくない？</p>
        <p>どうせならそのツイートをすぐに引っ張り出せるようにしませんか？</p>
        <p>つまりは日記のようにいつでも読み返せるようにしてみませんか？</p>
        <p>多くの場合、一つ一つのツイートは大した情報を持たないただの短文です。</p>
        <p>しかし、それらがまとまればあなたに関する多くの情報を持つ文章になります。</p>
        <p>つまりは日記です。</p>
        <p>このサイトでは、日々のツイートを利用してあなたの日記を生成します。</p>
        <ul>
          <h3>使い方</h3>
          <li>Twitterアカウントでログイン</li>
          <li>投稿する</li>
          <li>投稿がこのサイトに保存され、同時にTwitterにもツイートされる</li>
          <li>以上</li>
          <li>完全に個人で完結するサービスです。自分の日記を誰かに見られることはありません(日記を他人に読まれることほど気色悪いことはないですし)。</li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>

<a href="#" class="back-to-top">▲</a>

<script>
  // プレビューテキスト
  $(document).ready(function() {
    $("textarea").keyup(function() {
      $(".preview-display > div").fadeIn(500);
      $("#main").html( $(this).val() );
    });
  });

  // プレビューイメージ
  $(function(){
    $("#tweet_image").change(function(e){
      var file = e.target.files[0];
      var reader = new FileReader();

      reader.onload = (function(file){
        return function(e){
          $("#image-preview").attr("src", e.target.result);
          $("#image-preview").attr("title", file.name);
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });

  // プレビュー非表示
  // $(document).ready(function() {
  //   $(".preview-hide").click(function() {
  //     $(".preview-display > div").hide();
  //   });
  // });

  // ローディング

  $('input[type="submit"]').on('click', function(){
    setTimeout(function() {
      $('body').append('<div class="loader"><img src="images/ajax-loader.gif"></div>');
    },100);
  });

  // トップに戻る
  function updateButton() {
    if ($(this).scrollTop() >= 200) {
      $(".back-to-top").fadeIn();
    } else {
      $(".back-to-top").fadeOut();
    }
  }

  $(document).ready(function() {
    updateButton();
    $(window).scroll(updateButton);
    $(".back-to-top").click(function() {
      $("html, body").animate( {
        scrollTop: 0
      }, 500 );
      return false
    });
  });
</script>
