<!DOCTYPE html>
<html>
  <head>
    <title>OneTweetDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield :cover %>

    <div class="container">
      <%#= render 'layouts/flash' %>
      <%= yield %>
    </div>

    <footer>
      <div class="text-center text-muted">
        <ul class="list-inline">
          <li class="list-inline-item">
            © 2018 one-tweet-diary.
          </li>
          <li class="list-inline-item">
            <%= link_to 'お問い合わせ(こちらからDMをお送りください)', 'https://twitter.com/rails24211493', target: '_blank', class: 'text-muted' %>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
